absl-py==2.1.0
aiobotocore
aiohttp
aioitertools
aiosignal
alabaster
alembic==1.13.2
altair
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
annotated-types==0.7.0
anyio
appdirs==1.4.4
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asgiref==3.8.1
astroid
astropy
asttokens
astunparse==1.6.3
async-lru
atomicwrites==1.4.0
attrs
auth0-python==4.7.1
Automat
autopep8
Babel
backcall==0.2.0
backoff==2.2.1
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt==4.2.0
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
boto3==1.35.14
botocore==1.35.14
Bottleneck
Brotli
build==1.2.2
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib==0.7.3
chromadb==0.4.24
click
cloudpickle
clyent==1.2.2
cohere==5.9.1
colorama
colorcet
coloredlogs==15.0.1
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.75
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly
contourpy
cookiecutter
crewai==0.55.1
cryptography==42.0.8
cssselect
cycler
cytoolz
dask
dataclasses-json==0.6.7
datashader
debugpy
decorator
defusedxml
Deprecated==1.2.14
diff-match-patch
dill
distributed
distro
docopt==0.6.2
docstring-to-markdown
docstring_parser==0.16
docutils
duckduckgo_search==6.2.11
embedchain==0.1.121
entrypoints
et-xmlfile==1.1.0
executing
fastapi==0.114.0
fastavro==1.9.7
fastjsonschema
filelock
flake8
Flask
flatbuffers==24.3.25
fonttools==4.25.0
frozendict==2.4.4
frozenlist
fsspec
future
gast==0.5.4
gensim
gitdb
GitPython
gmpy2
google-api-core==2.19.2
google-auth==2.34.0
google-cloud-aiplatform==1.65.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gptcache==0.1.44
greenlet
groq==0.11.0
grpc-google-iam-v1==0.13.1
grpcio==1.64.1
grpcio-status==1.62.3
grpcio-tools==1.62.3
h11==0.14.0
h2==4.1.0
h5py==3.11.0
HeapDict
holoviews
hpack==4.0.0
html5lib==1.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.24.6
humanfriendly==10.0
hvplot
hyperframe==6.0.1
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
importlib_resources==6.4.4
incremental
inflection==0.5.1
iniconfig
instructor==1.3.3
intake
intel-openmp==2021.4.0
intervaltree
ipykernel
ipython==8.12.3
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jiter==0.4.2
jmespath
joblib
json5
json_repair==0.25.3
jsonpatch==1.33
jsonpointer==2.1
jsonref==1.1.0
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==3.3.3
keyring
kiwisolver
kubernetes==30.1.0
langchain==0.2.16
langchain-cohere==0.1.9
langchain-community==0.2.16
langchain-core==0.2.38
langchain-experimental==0.0.65
langchain-groq==0.1.9
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
langsmith==0.1.116
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang==18.1.1
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Mako==1.3.5
Markdown
markdown-it-py
MarkupSafe
marshmallow==3.22.0
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mem0ai==0.0.20
menuinst
mistune
mkl==2021.4.0
mkl-fft
mkl-random
mkl-service==2.4.0
ml-dtypes==0.3.2
mmh3==4.1.0
monotonic==1.6
more-itertools
mpmath
msgpack
multidict
multipledispatch
multitasking==0.0.11
munkres==1.1.4
mypy
mypy-extensions
namex==0.0.8
navigator-updater
nbclient
nbconvert==7.16.4
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy==1.23.5
numpydoc
oauthlib==3.2.2
onnxruntime==1.19.2
openai==1.44.0
opencv-contrib-python==4.5.5.64
openpyxl==3.0.10
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.7
overrides
packaging==23.2
pandas
pandocfilters
panel
param
parameterized==0.9.0
paramiko
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
peewee==3.17.6
pexpect
pickleshare
pillow==10.4.0
pipreqs==0.5.0
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
portalocker==2.10.1
posthog==3.6.3
primp==0.6.1
prometheus-client
prompt-toolkit
Protego
proto-plus==1.24.0
protobuf==4.25.4
psutil
ptyprocess
pulsar-client==3.5.0
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl==7.45.2
pydantic==2.9.0
pydantic_core==2.23.2
pydeck
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT==2.9.0
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
pypdf==4.3.1
PyPika==0.48.9
pyproject_hooks==1.1.0
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
pyreadline3==3.4.1
pysbd==0.3.4
PySocks
pytest
python-dateutil
python-dotenv==1.0.1
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz==2024.1
pyviz_comms
pywavelets
pywin32==305.1
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qdrant-client==1.11.1
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
referencing
regex==2024.7.24
requests
requests-file
requests-oauthlib==2.0.0
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich==13.8.0
rope
rpds-py
rsa==4.9
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
s3transfer==0.10.2
schema==0.7.7
scikit-image
scikit-learn
scipy==1.11.4
Scrapy
seaborn
semver
Send2Trash
service-identity
shapely==2.0.6
shellingham==1.5.4
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy==2.0.34
stack-data
starlette==0.38.4
statsmodels
streamlit==1.38.0
streamlit-image-comparison==0.0.4
sympy
tables
tabulate
tbb==2021.13.0
tblib
tenacity==8.5.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-addons==0.22.0
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tiktoken==0.7.0
tinycss2
tldextract
tokenizers==0.20.0
toml
tomlkit
toolz
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tornado
tqdm
traitlets
truststore
Twisted
twisted-iocpsupport
typeguard==2.13.3
typer==0.12.5
types-requests==2.32.0.20240907
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata
tzlocal
uc-micro-py
ujson
Unidecode
urllib3
uvicorn==0.30.6
validators
w3lib
watchdog
watchfiles==0.24.0
wcwidth
webencodings==0.5.1
websocket-client
websockets==13.0.1
Werkzeug
whatthepatch
widgetsnbextension
win-inet-pton
wrapt
xarray
xlwings
xyzservices
yapf
yarg==0.1.9
yarl
yfinance==0.2.43
zict
zipp
zope.interface
zstandard==0.19.0
